/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  /* Encabezado */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f2f2f2;
  }
  
  img {
    width: 100%;
  }

  .busqueda {
    display: flex;
    align-items: center;
  }
  
  .app-name {
    font-size: 2rem;
  }
  
  .busqueda {
    display: flex;
    align-items: center;
  }
  
  .busqueda-control {
    padding: 5px;
    border: 1px solid #7f8113;
    border-radius: 15px 0 0 15px;
  }
  
  .btn {
    padding: 5px 10px;
    background-color: #577265;
    color: #fff;
    border: none;
    cursor: pointer;
    border: 1px solid #7f8113;
    border-radius: 0 15px 15px 0;
  }
  
  /* Contenedor principal */
  main {
    padding: 20px;
  }
  
  /* Cuadros de imágenes principales */
  #photosPrincipales {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .caja-photo {
    display: flex;
    overflow: hidden;
    margin-bottom: 30px;
    gap: 20px;
  }
  
  /* Sección de resultados de búsqueda */
  section {
    padding: 20px;
  }
  
  /* Estilos para dispositivos móviles */
  @media screen and (min-width: 375px) {
    header {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .app-name {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
  
    #photosPrincipales {
      grid-template-columns: 1fr;
    }
  }