/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nanum Gothic', sans-serif;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #f7d309;
}

main {
  background-color: #383734;
  padding: 5px;
}

img {
  width: 100%;
}

.logo {
  width: 100px;
  border-radius: 150px;
  background-color: rgb(255, 254, 252);
  padding: 5px;
}

.logo img {
  width: 100%;
  height: auto;
}

.app-name {
  font-size: 2rem;
  font-weight: bolder;
  align-self: flex-start;
  margin-left: 10px;
  margin-bottom: 10px; 
}

.app-nav {
  display: flex;
  justify-content: flex-end; 
  align-items: center;
  margin-left: 30px; 
}

.busqueda {
  display: flex;
  align-items: center;
  margin-left: auto;
}

#palabra {
  padding: 5px;
  border: 1px solid #bd450e;
  border-radius: 15px 0 0 15px;
  width: 150px; 
}

.btn-submit {
  padding: 5px 10px;
  background-color: #3b3437;
  color: #ca6d89;
  border: none;
  cursor: pointer;
  border: 1px solid #bd450e;
  border-radius: 0 15px 15px 0;
  width: 80px;
  margin-left: -4px; 
}

.btn-submit::before {
  content: "Enviar";
  display: inline-block;
}

#resultadoBusqueda {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.caja-photo {
  width: calc(33.33% - 10px);
  margin: 10px auto;
}

.caja-photo img {
  width: 100%;
  height: 200px; 
  object-fit: cover;
}

/* #photosPrincipales {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#photosPrincipales .caja-photo-tendencias {
  flex-basis: calc(33.33% - 10px);
  margin-bottom: 10px;
}

#photosPrincipales .caja-photo-tendencias img {
  width: 100%;
  height: 200px;
  object-fit: cover;
} */

#photosPrincipales {
  display: flex;
  justify-content: space-between;
  margin: 40px 10px 60px 10px;
}

#photosPrincipales .caja-photo-tendencias {
  width: calc(33.33% - 10px);
  margin-bottom: 10px;
}

#photosPrincipales .caja-photo-tendencias img {
  width: 100%;
  height: 250px; /* Aumenta la altura para hacerlo un poco más grande */
  object-fit: cover;
}

figure.caja-photo-tendencias {
  background-color: rgb(255, 255, 255);
  padding: 5px 3px 50px;
  border-radius: 5px ;
}
